.form {
    position: relative;
    height: 100vh;
}

.board {
    margin-left: auto;
    margin-right: auto;

    width: 600px;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;


    top: 50vh;
    transform: translate(0, -50%)
}

.button_add {
    height: 40px;
    width: 140px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);

    color: #0f0d0e;
    font-size: 14px;
}

.task {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 12px 8px;
    border-radius: 10px;
}

.task:nth-child(n+1) {
    margin-top: 5px;
}

.task_body{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

span {
    display: block;
    align-self: center;
}

.task_left, .task_right {
    display: flex;
}

.title {
    margin-left: 15px;
}

.description {
    margin-left: 15px;
    width: 100%;
    margin-top: 10px;
}

.description_none {
    display: none;
}

.mark {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .5);
    width: 20px;
    height: 20px;
    position: relative;
}

.mark_done::after {
    content: "\2713";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.button {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    width: 25px;
    height: 25px;
}

.button_edit {
    margin-left: 15px;
}

.button_delete {
    margin-left: 5px;
}

.task_modal {
    width: 600px;
    z-index: 1;

    position: absolute;

    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 15px;

    padding-bottom: 15px;
    background-color: #eeeeee;
}

.task_modal_none {
    display: none;
}

.task_modal_title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
}

lable {
    margin-left: 10px;
    margin-right: 15px;
    display: block;
}

lable:nth-child(n+1) {
    margin-top: 10px;
}

.task_title {
    width: 100%;
    margin-top: 10px;
    border: none;
    height: 25px;
}

.task_title:focus, .task_description:focus {
    outline: 1px solid #323232;
    border-radius: 5px;
}

.task_description {
    width: 100%;
    max-height: 100px;
    min-height: 50px;
    max-width: 100%;
    margin-top: 10px;
    border: none;
}

.span_lable {
    color: #0f0d0e;
    font-size: 16px;
    font-weight: bold;

}

.task_modal_button_group {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-top: 15px;
}

.task_modal_button {
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .9);

    color: #0f0d0e;
    font-size: 14px;
    font-weight: bold;
}

.task_modal_button_cancel {
    width: 90px;
}

.task_modal_button_ok {
    width: 50px;
}

.button:hover, .button_add:hover, .task_modal_button:hover {
    background-color: #323232;
    color: #eeeeee;
}

.delete_modal {
    z-index: 1;
    width: 400px;
    position: absolute;

    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 15px;

    padding-bottom: 15px;
    background-color: #eeeeee;
}

.delete_modal_none {
    display: none;
}